:root {
  --black-basic: #000000;
  --black-grafit: #283136;

  --asphalt: #666666;

  --red-dark: #D7373B;
  --red-basic: #E74246;
  --red-light: #FB565A;

  --green-dark: #00AA62;
  --green-basic: #00BC6C;
  --green-light: #00CA74;

  --yellow-dark: #E5A722;
  --yellow-basic: #EAB534;
  --yellow-light: #EFC84A;

  --white: #EEEEEE;
  --white-whiter: #FFFFFF;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black-basic);
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: var(--white);
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

/* buttons */

.button {
  font: inherit;
  color: var(--white-whiter);
  font-weight: 500;
  line-height: 18px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}
.white-button {
  background-color: : var(--white);
}
.white-button:hover{
    background-color: var(--red-basic);
}
.white-button:active {
      background-color: var(--red-dark);
      box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}
.red-button {
  background-color: var(--red-light);
}
.red-button:hover{
    background-color: var(--red-basic);
}
.red-button:active {
      background-color: var(--red-dark);
      box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);

}

.green-button {
  background-color: var(--green-light)
}
.green-button:hover{
    background-color: var(--green-basic);
}
.green-button:active {
      background-color: var(--green-dark);
      box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
      opacity: 0.3;
}
.yellow-button {
  background-color: var(--yellow-light)
}
.yellow-button:hover{
    background-color: var(--yellow-basic);
}
.yellow-button:active {
      background-color: var(--yellow-dark);
      box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
      opacity: 0.3;
}

/* header */

.main-navigation {
  background-color: inherit;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  list-style: none;
}
.main-navigation a:hover {
  color: var(--red-light);
}
.main-navigation a:active {
  opacity: 0.3;
}
nav a:active {
opacity: 0.3;
}

/* main */
/* slider */
.slider ul{
  list-style: none;
}
.slider h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/* catalog */
.catalog ul{
  list-style: none;
}
.catalog h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
/* features */
.features ul{
  list-style: none;
}
.features h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.features h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.feature-item {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}
.feature-item span{
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}
/* brands */
.brands ul{
  list-style: none;
}
.brands a:hover{
  background-color: : var(--black-basic);
}
.brands a:active{
  background-color: : var(--black-basic);
}
/* contacts */
.contacts {
  background-color: var(--white-whiter);
}
.contacts-card {
  color: var(--asphalt);
  line-height: 18px;
}
.contacts-card h3{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-basic);
}
/* footer */
footer h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
