:root {
  --black-basic: #000000;
  --black-grafit: #283136;
  --black-1: #231F20;

  --asphalt: #666666;

  --red-dark: #D7373B;
  --red-basic: #E74246;
  --red-light: #FB565A;

  --green-dark: #00AA62;
  --green-basic: #00BC6C;
  --green-light: #00CA74;

  --yellow-dark: #E5A722;
  --yellow-basic: #EAB534;
  --yellow-light: #EFC84A;

  --white: #EEEEEE;
  --white-whiter: #FFFFFF;

  --gray-basic: #DFDFDF;
  --gray-dark: #D5D5D5;
  --gray-border: #DBDBDB;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black-basic);
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: var(--white-whiter);
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}

.page {
  height: 100%;
}
.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.pop-up {
  display: none;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

}
/* buttons */

.button {
  font: inherit;
  color: var(--white-whiter);
  font-weight: 500;
  line-height: 18px;
  border-radius: 3px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}
.white-button {
  background-color: : var(--white);
  color: var(--black-basic);
}
.white-button:hover{
    background-color: var(--gray-basic);
}
.white-button:active {
  background-color: var(--gray-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.white-button span:active {
  opacity: 0.3;
}
.red-button {
  background-color: var(--red-light);
}
.red-button:hover{
  background-color: var(--red-basic);
}
.red-button:active {
  background-color: var(--red-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.red-button span:active {
  opacity: 0.3;
}
.green-button {
  background-color: var(--green-light)
}
.green-button:hover{
  background-color: var(--green-basic);
}
.green-button:active {
  background-color: var(--green-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.green-button span:active {
  opacity: 0.3;
}

.yellow-button {
  background-color: var(--yellow-light)
}
.yellow-button:hover{
  background-color: var(--yellow-basic);
}
.yellow-button:active {
  background-color: var(--yellow-dark);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.yellow-button span:active {
  opacity: 0.3;
}

/* header */
.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}


.main-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.site-navigation {
  background-color: inherit;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  list-style: none;
}
.site-navigation a:hover {
  color: var(--red-light);
}
.site-navigation a:active {
  opacity: 0.3;
}
nav a:active {
opacity: 0.3;
}
.site-navigation .active {
  border-bottom: 2px solid var(--red-light);
}
/* main */
/* slider */
.slider {
  display: grid;
  grid-template-columns:
}
.slider ul{
  list-style: none;
}
.slider h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

/* catalog */
.catalog-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  margin: 0;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;

}
.catalog h3 {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}
/* features */
.features {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.features-item {
  max-width: 651px;
}
.features-item ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.features-item h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}
.features-item h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.percent {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}
.features-item span{
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
}
/* brands */
.brands ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 80px;
  margin: 0;
}

.brands a:hover{
  background-color: : var(--black-basic);
}
.brands a:active{
  background-color: : var(--black-basic);
}
/* contacts */
.contacts {
  background-color: var(--white-whiter);
  background-image: url(../img/map-map.png);
  width: 1440px;
  height: 416px;
  margin: 0 auto;
  padding-top: 54px;
  padding-bottom: 54px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.marker {
  position: absolute;
  padding-left: 822px;
  padding-bottom: 55px;
}
.contacts-card {
  color: var(--asphalt);
  line-height: 18px;
  background-color: var(--white-whiter);
  width: 319px;
  padding-top: 49px;
  padding-bottom: 47px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}
.contacts-card h3{
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black-basic);
  margin: 0;
  margin-bottom: 23px;
}
.contacts-card address {
  font-style: normal;
  margin-bottom: 15px;
}
.map {
  width: 1440px;
}
.contacts-card .button {
  margin-top: 37px;
  width: 219px;
  padding-top: 17px;
  padding-right: 44px;
  padding-bottom: 15px;
  padding-left: 44px;

}
/* footer */
footer h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
.main-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social-icons {
  padding: 0;
  margin: 0;
  margin-right: 139px;
}
.friendship {
  margin: 0;
  padding: 0;
}

/* inner */
.shop ul {
  list-style: none;
}
.shop h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}
.shop h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.price span {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
.options label {
  font-size: 16px;
  line-height: 19px;
}

 .filter {
  opacity: 0.4;
 }

 .filter:hover{
   opacity: 1;
 }
.filter:disabled {
  opacity: 0.1
}
.filter:disabled{
  opacity: 0.1
}

.sorting {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.3;
  text-transform: uppercase;
}
.sorting:active,
.sorting.active {
  opacity: 1;
}


.up-dawn-dir {
  opacity: 0.2;
}
.up-dawn-dir:active,
.up-dawn-dir.active {
  color: var(--black-1);
  opacity: 1;
}

.pagination ul {
  list-style: none;
}
.pagination .active {
  border: 3px solid var(--gray-border);
  box-sizing: border-box;
  border-radius: 3px;
}
